<section class="about container-fluid card pe-0 ps-0">
  <div class="card-header d-flex justify-content-between">
    <h2>About me...</h2>
    <div class="edit-tools">
      <button><i class="bi bi-pencil-square"></i></button>
    </div>
  </div>
  <p class="p-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus
    ipsum nihil maiores velit quas exercitationem eos quos quod fuga. Libero
    veritatis ducimus, praesentium distinctio voluptas porro omnis commodi nam!
  </p>
</section>
<!--about-->
