<router-outlet></router-outlet>
<header>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark text-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="index.html">Agustin Stringa</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end bg-dark"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            Agustin Stringa
          </h5>
          <button
            type="button"
            class="btn-close text-light"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav justify-content-end flex-grow-1 pe-3 my-3 my-md-0"
          >
            <li class="nav-item d-flex align-items-center mx-3 fs-4">
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="nav-item d-flex align-items-center mx-3 fs-4">
              <a href="#"><i class="bi bi-github"></i></a>
            </li>
            <li class="nav-item d-flex align-items-center mx-3 fs-4">
              <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="nav-item d-flex align-items-center mx-3 fs-4">
              <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
          <form class="d-flex mx-md-2" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary" type="submit">
              Search
            </button>
          </form>
          <button
            class="btn btn-outline-success d-block d-md-inline my-2 my-md-0"
            type="submit"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
<main class="container-fluid">
  <section class="banner my-2 card">
    <div class="img-banner">
      <img src="../assets/code.jpg" alt="code" class="img-fluid rounded-top" />
    </div>
    <div class="info-banner p-3">
      <div>
        <div class="wrap-dev-image d-flex align-items-end">
          <img
            src="../assets/dev_image.jfif"
            alt="Imagen Developer"
            class="img-fluid rounded-50 dev-image"
          />
          <i class="bi bi-pencil-square"></i>
        </div>

        <h2 class="name">Agustin Nicolás Stringa</h2>
        <p class="description">Fullstack JR Developer</p>
        <p class="location">
          Rosario, Argentina <a href="#">Informacion de contacto</a>
          <!--en realidad la etiqueta address iria en direcciones de contacto real-->
        </p>
        <div>
          <button class="btn btn-primary">Tengo interés en</button>
          <button class="btn btn-light border">Añadir sección</button>
          <button class="btn btn-light border">Más</button>
        </div>
      </div>
      <!-- <div>
          <img src="" alt="Logo Conicet" />
          <img src="" alt="Logo universidad de Buenos Aires" />
        </div> -->
    </div>
  </section>
  <!--section.banner-->

  <section class="about container-fluid card pe-0 ps-0">
    <div class="card-header d-flex justify-content-between">
      <h2>About me...</h2>
      <div class="edit-tools">
        <button><i class="bi bi-pencil-square"></i></button>
      </div>
    </div>
    <p class="p-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
      voluptatibus ipsum nihil maiores velit quas exercitationem eos quos quod
      fuga. Libero veritatis ducimus, praesentium distinctio voluptas porro
      omnis commodi nam!
    </p>
  </section>
  <!--about-->

  <section class="info">
    <div class="experiencia about container-fluid card my-2 pe-0 ps-0">
      <div class="card-header d-flex justify-content-between">
        <h2 class="fs-1">Experiencia</h2>
        <div class="edit-tools">
          <button><i class="bi bi-plus-square"></i></button>
        </div>
      </div>
      <ol class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-10 d-md-flex align-items-center">
              <img
                src="../assets/logo_haz_historia.jpg"
                alt="logo experiencia"
                class="img-fluid d-block"
              />
              <div
                class="info-exp-item mx-md-3 d-flex flex-column justify-content-center"
              >
                <p class="title-info fs-2 mb-0">Maquetación Web Freelance</p>
                <p class="role-info fs-4 text-secondary mb-0">
                  Haz Historia - Desarrollo web
                </p>
                <p class="date-info fs-5 text-secondary">
                  Febrero - Abril 2022
                </p>
                <p class="fs-5 text-secondary">Remoto</p>
              </div>
            </div>
            <div class="col-12 col-md-2 text-end pt-2">
              <div class="edit-tools">
                <button><i class="bi bi-pencil-square"></i></button>
                <button><i class="bi bi-trash-fill"></i></button>
              </div>
            </div>
          </div>
        </li>
      </ol>
      <!--ol experience-->
    </div>
    <!--experience info-->

    <div class="educacion about container-fluid card my-2 pe-0 ps-0">
      <div class="card-header d-flex justify-content-between">
        <h2 class="fs-1">Educacion</h2>
        <button class="button-add">
          <i class="bi bi-plus-square"></i>
        </button>
      </div>

      <ol class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-10 d-md-flex align-items-center">
              <img
                src="../assets/logo-utn-.png"
                alt="logo UTN"
                class="img-fluid img-info d-block"
              />

              <div
                class="info-exp-item mx-md-3 d-flex flex-column justify-content-center"
              >
                <p class="title-info fs-2 mb-0">
                  Universidad Tecnológica Nacional
                </p>
                <p class="role-info fs-4 text-secondary mb-0">
                  Ingeniería en Sistemas de Información
                </p>
                <p class="date-info fs-5 text-secondary">2022-presente</p>
              </div>
            </div>

            <div class="edit-tools col-md-2 text-end pt-2">
              <button><i class="bi bi-pencil-square"></i></button>
              <button><i class="bi bi-trash-fill"></i></button>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col-md-10 d-md-flex align-items-center">
              <img
                src="../assets/logo-ipetym.png"
                alt="logo ipetym"
                class="img-fluid img-info d-block"
              />

              <div
                class="info-exp-item mx-md-3 d-flex flex-column justify-content-center"
              >
                <p class="title-info fs-2 mb-0">IPETYM - N°59 "25 DE MAYO"</p>
                <p class="role-info fs-4 text-secondary mb-0">
                  Técnico en Programación
                </p>
                <p class="date-info fs-5 text-secondary">2015-2021</p>
              </div>
            </div>

            <div class="edit-tools col-md-2 text-end pt-2">
              <button><i class="bi bi-pencil-square"></i></button>
              <button><i class="bi bi-trash-fill"></i></button>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <!--education info-->
  </section>
  <!--info-->
</main>
<footer>
  <nav
    class="nav-footer bg-black text-light d-flex justify-content-md-center pt-5 pb-4 justify-content-start"
  >
    <ul class="text-secondary me-4">
      <li><a href="#">About me</a></li>
      <li><a href="">Experiencia</a></li>
      <li><a href="">Educacion</a></li>
    </ul>
    <ul class="text-secondary me-4">
      <li><a href="">Instagram</a></li>
      <li><a href="">Twitter</a></li>
      <li><a href="">Github</a></li>
      <li><a href="">Linkedin</a></li>
    </ul>
    <ul class="text-secondary me-4">
      <li><a href="">Proyectos</a></li>
      <li><a href="">Certificaciones</a></li>
      <li><a href="">Argentina Programa</a></li>
    </ul>
  </nav>
</footer>
