<router-outlet></router-outlet>
<app-header></app-header>
<main class="container-fluid">
  <section class="banner my-2 card">
    <div class="img-banner">
      <img src="../assets/code.jpg" alt="code" class="img-fluid rounded-top" />
    </div>
    <div class="info-banner p-3">
      <div>
        <div class="wrap-dev-image d-flex align-items-end">
          <img
            src="../assets/dev_image.jfif"
            alt="Imagen Developer"
            class="img-fluid rounded-50 dev-image"
          />
          <i class="bi bi-pencil-square"></i>
        </div>

        <h2 class="name">Agustin Nicolás Stringa</h2>
        <p class="description">Fullstack JR Developer</p>
        <p class="location">
          Rosario, Argentina <a href="#">Contactar</a>
          <!--en realidad la etiqueta address iria en direcciones de contacto real-->
        </p>
        <div>
          <button class="btn btn-primary mx-1">Tengo interés en</button>
          <button class="btn btn-light border mx-1">Añadir sección</button>
          <button class="btn btn-light border mx-1">Más</button>
        </div>
      </div>
      <!-- <div>
          <img src="" alt="Logo Conicet" />
          <img src="" alt="Logo universidad de Buenos Aires" />
        </div> -->
    </div>
  </section>
  <!--section.banner-->

  <app-about></app-about>
  <section class="info">
    <app-experience></app-experience>
    <!--experience info-->
    <app-education></app-education>
    <!--education info-->
  </section>
  <!--info-->
</main>
<app-footer></app-footer>
