<div class="educacion about container-fluid card my-2 pe-0 ps-0">
  <div class="card-header d-flex justify-content-between">
    <h2 class="fs-1">Educacion</h2>
    <button class="button-add">
      <i class="bi bi-plus-square"></i>
    </button>
  </div>

  <ol class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-10 d-md-flex align-items-center">
          <img
            src="../assets/logo-utn-.png"
            alt="logo UTN"
            class="img-fluid img-info d-block"
          />

          <div
            class="info-exp-item mx-md-3 d-flex flex-column justify-content-center"
          >
            <p class="title-info fs-2 mb-0">Universidad Tecnológica Nacional</p>
            <p class="role-info fs-4 text-secondary mb-0">
              Ingeniería en Sistemas de Información
            </p>
            <p class="date-info fs-5 text-secondary">2022-presente</p>
          </div>
        </div>

        <div class="edit-tools col-md-2 text-end pt-2">
          <button><i class="bi bi-pencil-square"></i></button>
          <button><i class="bi bi-trash-fill"></i></button>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-10 d-md-flex align-items-center">
          <img
            src="../assets/logo-ipetym.png"
            alt="logo ipetym"
            class="img-fluid img-info d-block"
          />

          <div
            class="info-exp-item mx-md-3 d-flex flex-column justify-content-center"
          >
            <p class="title-info fs-2 mb-0">IPETYM - N°59 "25 DE MAYO"</p>
            <p class="role-info fs-4 text-secondary mb-0">
              Técnico en Programación
            </p>
            <p class="date-info fs-5 text-secondary">2015-2021</p>
          </div>
        </div>

        <div class="edit-tools col-md-2 text-end pt-2">
          <button><i class="bi bi-pencil-square"></i></button>
          <button><i class="bi bi-trash-fill"></i></button>
        </div>
      </div>
    </li>
  </ol>
</div>
