<div class="experiencia about container-fluid card my-2 pe-0 ps-0">
  <div class="card-header d-flex justify-content-between">
    <h2 class="fs-1">Experiencia</h2>
    <div class="edit-tools">
      <button><i class="bi bi-plus-square"></i></button>
    </div>
  </div>
  <ol class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-10 d-md-flex align-items-center">
          <img
            src="../assets/logo_haz_historia.jpg"
            alt="logo experiencia"
            class="img-fluid d-block"
          />
          <div
            class="info-exp-item mx-md-3 d-flex flex-column justify-content-center"
          >
            <p class="title-info fs-2 mb-0">Maquetación Web Freelance</p>
            <p class="role-info fs-4 text-secondary mb-0">
              Haz Historia - Desarrollo web
            </p>
            <p class="date-info fs-5 text-secondary">Febrero - Abril 2022</p>
            <p class="fs-5 text-secondary">Remoto</p>
          </div>
        </div>
        <div class="col-12 col-md-2 text-end pt-2">
          <div class="edit-tools">
            <button><i class="bi bi-pencil-square"></i></button>
            <button><i class="bi bi-trash-fill"></i></button>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <!--ol experience-->
</div>
